@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Infrastructure as code on Azure</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ARM templates</h2>
        <p>To implement infrastructure as code for your Azure solutions, use Azure Resource Manager templates. The template is a JavaScript Object Notation (JSON) file that defines the infrastructure and configuration for your project...</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/overview">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Terraform</h2>
        <p>Terraform enables you to safely and predictably create, change, and improve infrastructure. It is an open source tool that codifies APIs into declarative...</p>
        <p><a class="btn btn-default" href="https://www.terraform.io/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pulumi</h2>
        <p>Pulumi's open source infrastructure as code SDK enables you to create, deploy, and manage infrastructure on any cloud, using your favorite languages.</p>
        <p><a class="btn btn-default" href="https://www.pulumi.com/">Learn more &raquo;</a></p>
    </div>
</div>